
.header {
    display: grid;
    font-family: "Nanum Gothic", sans-serif;
    background-color: olivedrab;
    grid-template: 40% 1fr 40% / 10% 3fr 20%;
    align-items: center;
}

.header .image {
    grid-row: 2 / 3;
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
    align-self: flex-end;
}

.header p {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    font-size: 15px;
    align-self: flex-end;
    padding: 10px;
    background-color: white;
}
.header span {
    grid-row: 1 / 2;
    grid-column: 2 / span 2;
    align-self: flex-end;
    padding-top: 10px;
}
.header .link {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    justify-self: end; 
    margin-right: 20px;
    margin-bottom: 10px;
}

.header .link img {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

nav {
    margin: 0 auto;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    font-size: 1.2em;
    line-height: 40px;
}

nav a {
    background-color: white;
    text-decoration: none;
    padding: 8px;
    border: 1px solid black;
    text-align: center;
    font-family: "Raleway", sans-serif;
}
nav a:hover {
    background-color: lawngreen;
}

nav a:active {
    background-color: darkgreen;
}

.project {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-areas: "img"
                        "content";
}
.project .image img{
    width: 500px;
    height: 400px;
}
.project img{
    width: 30px;
    height: 30px;
}
.project .content p {
    font-family: "Nanum Gothic", sans-serif;
    text-align: center;
    justify-self: center;
    width: 500px;
}
.project .content a {
    align-self: flex-end;
    margin: 10px;
}

.project .content {
    display: grid;
    grid-template-areas: "p a";
    justify-content: center;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
iframe {
    width: 100%;
    height: 500px;
    border: none;
}

@media only screen and (max-width: 600px) {
    .header .image {
        display: none;
    }
}